html, body{
   min-height: 100%;
}

body{
   padding: 0;
   margin: 0;
   background-image: none;
}

header{
   position: relative;
   padding: 5%;
   background-color: #000000;
   color: white;
   text-align: center;
}

nav{
   text-align: center;
   color: rgb(0, 0, 0);
}

h2{
   text-align: center;
   color: rgb(0, 0, 0);
}

section
p{
   text-align: center;
}

h3{
   color: rgb(0, 0, 0);
}

footer
p{
   text-align: left;
   color: white;
}
 
footer{
   bottom: 0;
   margin: 0;
   line-height: 100px;
   color: rgb(255, 255, 255);
   background-color: #000000;
   text-align: left;
}
