html, body{
   position: relative;
   margin: 0;
}

body{
   background-image: linear-gradient(90deg, #000000,#e72525,#000000);/* igual a top right */
}

header{
   background: #000000;
   text-align: center;
}

h2{
   color: #e2b166;
   text-align: center;
}

P{
   color: rgb(255, 255, 255);
   text-align: center;
}

.categorias{
   float:left;
   width: 25%;
   background-color:white;
   margin: 1%;
 }
 
 
footer{
   position: absolute;
   height: 100px;
   width: 100%;
   color: #ffffff;
   background-color: #000000;
   text-align: left;
}



