html,body{
   min-height: 100%;
 }
 
body{
  background-color: white;
  margin: 0px;
  padding: auto;
 }
    
 header{
  position: relative;
  color: white;
  background-color: #000009;
  margin-top: 0px;
  padding-top: 5px;
 }
 
 section#logodaloja{
  text-align: center;
  margin-top: 2px;
  padding-top: 0px;
  padding-bottom: 2px;
 }
 
 section#botoes{
	 padding: auto;
	 margin-top: 0px;
	 margin-bottom: 0px;
 }
 

.tema{
	 text-align: left;
	 padding-left: 20px;
 }
 
 .mododeluz{
	 color: black;
 }
 
 
 .carrinho{
     text-align: right;
	 padding-right: 20px;
 }
 
 .compras{
	 color: black;
 }
 
 
 .cadastro{
	 text-align: right;
	 padding-right: 20px;
 }
 
 .usuario{
	 color: black;
 }
 
 
 form{
	 text-align: center;
	 font-family: arial;
	 padding-top: 2px;
	 padding-bottom: 2px;
	 margin-top: 2px;
 }
  
 form input{
	 border-style: hidden;
	 border-radius: 28ch;
	 padding: 5px;
	 border-width: 1px;
	 margin: 1px;
 }
  
 section#fotodecharuto{
  margin-top: 0px;
  padding: 100px;
  background-color:transparent;
 }
 
 section#fotodecharuto{
	text-align: center;
	padding-left: 0px;
    padding-right:0px;
	padding-top: 0px;
	padding-bottom: 0px;
 }
 
.categorias h3{
  text-align: left;
  padding-top: 5px;
  padding-left: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #DDDDD9;
}

ul{
	text-align: center;
	padding-top: 5px;
}

.espadas{
	text-align: left;
}

.ouros{
	text-align: left;
}

.paus{
	text-align: right;
}

.copas{
	text-align: right;
}


.produtos h3{
  background-color: #DDDDD9;
  margin: 0px;
  text-align: left;
  padding: 10px;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 5px
  
}

produtos img{
  text-align: left;
  padding: 800px;
  width: 15%;
  margin-top: 0px;
  margin-bottom: 0px;
}

produtos img{
  border-style: solid;
  border-radius: 5px;
  color: #DDDDDD;
  box-shadow:0px 3px 2px 2px;
}

 footer#rodape{
  margin-top: 100px;
  padding: 0px;
  color: white;
  background-color:black;
 }

 article#sobrenos h3{
  padding-top: 45px;
  text-align: left;
  padding-left: 25px;
  font-size: 12pt;
 }
 
 hgroup p{
  padding-top: 2px;
  text-align: justify;
  padding-left: 25px;
  padding-right: 895px;
  padding-bottom: 0px;
  font-size: 12pt;
 }

 article#atendimento p{
  text-align: left;
  padding-top: 35px;
  padding-left: 25px;
  font-size: 12pt;
}
  
 article#politicas {
  text-align: left;
  padding-top: 2px;
  padding-left: 25px;
  font-size: 12pt;
}

article#politicas a:hover{
  text-decoration: underline;
  color: white; 
}

.Contatos{
  text-align: left;
  padding-top: 1px;
  padding-bottom: 5px;
  padding-left: 25px;
  font-size: 12pt;
}

section#newsletter h3{
	margin: 0px;
	text-align: right;
  padding-right: 36px;
  padding-bottom:0px;
  padding-top: 0px;
  font-size: 20pt;
}

section#newsletter p{
	margin: 0px;
	text-align: right;
  padding-right: 55px;
  padding-bottom:10px;
  padding-top: 5px;
  font-size: 14pt;
}

form#noticias input{
	text-align: left;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

form#noticias{
	text-align: right;
	padding-right: 25px;
	padding-top: 5px;
	padding-bottom: 5px;
}

section#cliqueaqui{
	text-align: right;
	padding-right:250px;
	padding-top:0px;
	padding-bottom: 5px;
}

footer#copyright{
  text-align: center;
  font-size: 15pt;
  padding: 5px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0px; 
}