*{
     padding:0;
	margin: 0;
}
 
body{
  background-color: white;
 }
    
 header{
  color: white;
  background-color: #000009;
  margin-top: 0px;
  padding-top: 5px;
 }
 
 section#logodaloja{
  text-align: center;
 }
 
 section#botoes{
	 padding: auto;
 }

.tema{
	 text-align: left;
 }
 
 .mododeluz{
	 color: black;
 }
 
 
 .carrinho{
     text-align: right;

 }
 
 .compras{
	 color: black;
 }
 
 
 .cadastro{
	 text-align: right;

 }
 
 .usuario{
	 color: black;
 }
 
 
 form{
	 text-align: center;
	 font-family: arial;
	
 }
  
 form input{
	 border-style: hidden;
	 border-radius: 28ch;
	 padding: 5px;
	 border-width: 1px;
	 margin: 1px;
 }
  
 section#fotodecharuto{
  background-color:transparent;
 }
 
.categorias h3{
  text-align: left;
  background-color: #DDDDD9;
}

.categorias ol{
	float: center;
}

.esqueiros{
	position: relative;
	top: 85px;
	left: 45px;
}

.esqueiros img{
	border-style: solid;
	border-radius: 108px;
	border-width: 1px;
}


.cortadores{
	position: relative;
	bottom: 2px;
	left: 155px;
}

.cortadores img{
	border-style: solid;
	border-radius: 108px;
	border-width: 1px;
}

.sedas{
	position: relative;
	bottom: 88px;
	left: 250px;
}

.sedas img{
	border-style: solid;
	border-radius: 108px;
	border-width: 1px;
}

.bebidas{
	position: relative;
	bottom: 175px;
	left: 350px;
}

.bebidas img{
	border-style: solid;
	border-radius: 108px;
	border-width: 1px;
}


.produtos h3{
  background-color: #DDDDD9;
  margin: 0px;
  text-align: left;
  padding: 10px;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 5px
}

.produtos img{
  border-style: solid;
  border-radius: 5px;
  color: #DDDDDD;
  box-shadow:0px 3px 2px 2px;
}

 footer#rodape{
  margin:0px;
  padding: 0px;
  width: 100%;
  color: white;
  background-color:black;
 }

 article#sobrenos h3{
	 position: relative;
	 top: 20px;
  text-align: left;
 padding-left: 0px;
 padding-right: 70px;
  font-size: 15pt;
  }


 article#atendimento p{
 	 position: relative;
	 top:35px;
  text-align:justify;
  padding-right: 895px;
 left: 45px;
  font-size: 12pt;
 
}
  
 article#politicas {
 	 position: relative;
	 top:35px;
  text-align:justify;
  padding-right: 895px;
 left: 45px;
  font-size: 12pt;

}

article#politicas a:hover{
  text-decoration: underline;
  color: white; 
}

.Contatos{
	position: relative;
  text-align: left;
  top: 45px;
  bottom: 5px;
  left: 45px;
  font-size: 12pt;
}


.clientes{
	position: relative;
	text-align: right;
	bottom: 320px;
	right: 75px;
    font-size: 15pt;
}



form#noticias input{
	text-align: center;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

form#noticias{
	text-align: right;
	padding-right: 25px;
}

section#cliqueaqui{
	text-align: right;
	padding-right:250px;
	padding-top:0px;
	padding-bottom: 5px;
}

footer#copyright{
  text-align: center;
  font-size: 15pt;
  padding: 5px;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0px; 
  width: 100%;
}